/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the logo and buttons */
}

.nav-button {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin: 0 15px; /* Space around the buttons */
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #ddd;
    color: #000;
}

.logo {
    display: inline-block;
    text-decoration: none;
}

.logo img {
    max-width: 150px; /* Adjust the size as needed */
    height: auto;
}

/* Grid container styling */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

/* Ensuring grid items maintain proportionality */
.grid-item {
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item::before {
    content: "";
    display: block;
    padding-top: 100%; /* Maintain a square aspect ratio */
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the grid item without distortion */
    transition: opacity 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item:hover img {
    opacity: 0.8;
}

/* Responsive breakpoints */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
